@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;

}

:root{
  --main-color: #000000;
  --hover-color: #15d1d8;
  --body-color: #0d0c0f;
  --container-color: #b7d3d3;
  --container-color-2: #555555;
  --text-color: #f3e8e8; ;
  --bg-color: #6d3333;

}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

section{
  padding: 3rem 0 2rem;
}

img{
  width: 100%;
}

.bx{
  cursor: pointer;
}

body{
  color: var(--text-color);
  background: var(--body-color);
}

.container{
  max-width: 1060px;
  margin: auto;
  width: 100%;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  z-index: 100;

}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;

}

.logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.logo span{
  color: var(--hover-color);
}

.search-box{
  width: 100%;
  max-width: 225px;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 8px 15px;
  background-color: var(--container-color);
  border-radius: 4rem;
  margin-right: 1rem;
}

.search-box:hover{
  background-color: var(--container-color-2);
  transition: 0.5s;

}

.search-box .bx{
  font-size: 1.4rem;
}

.search-box .bx:hover{
  color:aliceblue;
  background:tan;
  transition: 0.5s;
  box-shadow: 0 0 20px;
  transition: scale(1.5);
}

#search-input{
  width: 100%;
  border: none;
  outline: none;
  color:aliceblue;
  background-color: transparent;
  font-size: 0.938rem;

}

.user{
  width: 40px;
  height: 40px;
  max-width: 50px;
  border-radius: 50%;
  border: 7px solid var(--main-color);
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 20px;
  transition: 0.5s;
  transition: scarle (1.5);
}

.navbar{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;

}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:aqua
}

.nav-link:hover,
.nav-active{
  color:antiquewhite;
  transition: 0.5s all linear;
  transform: scale(1.1);
}

.nav-link .bx{
  font-size: 1.5rem;
}

.nav-link-title{
  font-size: 0.7rem;
}

.home{
  position: relative;
  min-height: 470px;
  display: flex;
  align-items: center;
  margin-top: 5rem !important;
  border-radius: 0.5rem;
}

.home-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.home-text{
  padding-left: 30px;
  
}

.home-title{
  font-size: 2rem;
  font-weight: 500;
  color: #dad6e0;
  /* alterado por um caba ai, só mudei o texto de lugar*/
  
  position:absolute;
  top: 300px;
}

.home-text p{
  font-size: 24px;
  color: #9f05ff;
  /* alterado por um caba ai, só mudei o texto de lugar e coloquei fundo*/
  margin: 5px 0 10px;
  position: absolute;
  top: 350px;
}

.watch-btn{
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  color:#b7d3d3;
  font-size: 0.938rem;
  font-weight: 500;
}

.watch-btn .bx{
  font-size: 24px;
  background: #15d1d8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-btn .bx:hover{
  background: var(--hover-color);
  background: transparent;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow:0 0 20px#4e189e;

}

.watch-btn span{
  font-size: 2rem;
  font-weight: 400;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(63, 85, 85);
  padding: 20px 1px;
  border: 2px solid hsl(200, 100% 99%/ 50%);
  margin-bottom: 2rem;
}

.heading-titulo{
  font-size: 1.2rem;
  font-weight: 500;
  color: #c9bcbc;
}

.filmes-box{
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.filmes-box-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filmes-box .box-text{
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background: linear-gradient(
    8deg, hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%
  );
  overflow: hidden;
}



.box-text, .box-title{
  font-size: 1rem;
  font-weight: 500;
  
}

.filmes-type{
  font-size: 0.8rem;
}
.play-btn{
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
}

.play-btn:hover{
  transform: scale(1.2);
  transition: 0.6s;
  background-color: #4e189e;

}

.swiper-btn{
  display: flex;
}

.swiper-button-next, 
.swiper-button-prev{
position: static !important;
margin: 10px !important;
}

.swiper-button-next::after, 
.swiper-button-prev::after{
  color: #15d1d8;
  font-size: 18px !important;
  font-weight: 700;

}

.filmes e series .heading{
  padding: 10px 10px;
}

.filmes-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  gap: 1rem; 
}


.filmes-box:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
 

.Next-pague{
display: flex;
align-items: center;
justify-content: center;
margin-top: 2.5rem;
}

.Next-btn{
  background: #b7d3d3;
  padding: 10px 20px;
  color: rgb(63, 70, 70);
  font-weight: 500;
  border-radius: 0.5rem;
} 

.Next-btn:hover{
  background: transparent;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow:0 0 20px#4e189e;
}

.copyright{
  text-align: center;
  padding: 20px;
}

.play-container{
  position: relative;
  min-height: 540px;
  margin-top: 1rem !important;
  
}



.play-text{
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  background: linear-gradient(
    8deg, hsl(240 17% 14% / 74%) 14%, 
    hsl(240 17% 14% / 14%) 44%
  );

}

.play-text h2{
  font-size: 1.5rem;
  font-weight: 500;
}

.rating{
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: 1.1rem;
  color: #d5d815;
  margin-top: 4px;
}

.Tags span{
  background: black;
  padding: 0 4px;
}

.play-filmes{
  position: absolute;
  bottom: 10rem;
  right: 60rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #15d1d8;
  font-size: 24px;
  animation: animate 2s linear infinite;
}

@keyframes animate {
0%{
  box-shadow: 0 0 0 0 rgb(255, 180, 58, 0.7);
}

40%{
  box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
}

80%{
  box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
}

100%{
  box-shadow: 0 0 0 rgb(255, 193, 7, 0);
}

}